fastapi>=0.109.0
beautifulsoup4>=4.12.3
xmltodict>=0.13.0
lxml>=5.1.0
pytest-asyncio>=0.23.4
aiohttp[speedups]>=3.9.3
aiohttp_retry>=2.8.3
uvicorn[standard]>=0.27.1
Requests==2.31.0
python-dotenv==1.0.1
parse-torrent-title>=2.8.1
thefuzz>=0.22.1
pydantic>=2.6.1
pytest>=8.0.1
black>=23.12.1
isort>=5.13.2
